<div class="c-pagination">
            
                <span class="c-pagination__item  c-pagination__item--prev"><a href="#">&laquo;</a></span>
            
            <ul class="c-pagingation__list">
<li class="c-pagination__item ">
	
		<a href="#">1</a>
	
</li>

<li class="c-pagination__item active">
	
		<a href="#">2</a>
	
</li>

<li class="c-pagination__item ">
	
		<a href="#">3</a>
	
</li>
</ul>
            
                <span class="c-pagination__item  c-pagination__item--next"><a href="#">&raquo;</a></span>
            
        </div>