<div class="bg--primary">
    <div class="l-container">
        <div class="c-quote">
            <div class="c-quote__mark">
                 &ldquo;
            </div>
            <div class="c-quote__text">
                <h3>Discovering Purple Door Media was our lucky day...</h3>
                <p>The team was immediately committed to our project and highly engaged – they asked the right questions, managed many moving
                pieces and improved our brief multiple times over. We are ecstatic with the final product and continue to receive positive
                feedback from our contacts. In fact, we appreciated PDM’s services so much that we approached them again to turn around a
                very complex project on a tight deadline and, no surprise, our expectations were exceeded. I can’t recommend their creative
                and production services highly enough!</p>
                <p class="c-quote__citation">
                    — Physeon GmbH, Switzerland
                </p>
            </div>
            <div class="c-quote__logo">
                <img src="{{ path '/img/nhs.png' }}" alt="NHS" />
            </div>
        </div>
    </div>
</div>
