<ul class="l-grid  l-grid--filterable">
    <li class="l-grid__item">
        {{> @project}}
    </li>
</ul>

<div class="c-grid-filter">
    <ul class="c-grid-filter__list">
        <li class="c-grid-filter__item"><a href="#">FILM</a></li>
        <li class="c-grid-filter__item"><a href="#">ANIMATION & MOTION GRAPHICS</a></li>
        <li class="c-grid-filter__item"><a href="#">GRAPHIC DESIGN</a></li>
        <li class="c-grid-filter__item"><a href="#">COPYWRITING</a></li>
        <li class="c-grid-filter__item"><a href="#"></a></li>
    </ul>
</div>