<div class="c-hero  c-hero--full-height">
    <div class="c-hero__bg">
        <video autoplay loop id="c-header__video" muted plays-inline poster="">
            <source src="<perch:content id="videoUrl" type="text" label="Video URL" required="true" title="true" help="Please provide the link to the MP4 file" />" type="video/mp4">
        </video>
    </div>
    <div class="c-hero__overlay">
        <div class="l-container">
            <div class="c-hero__text">
                <h2 class="font-thin">
                    <perch:content id="text" type="textarea" label="Hero text" html="true" editor="redactor"  />
                </h2>
            </div>
        </div>
    </div>
</div>