<perch:before>
    <ul class="l-grid">
</perch:before>
    <li class="l-grid__item">
        <perch:related id="clients" collection="Clients" max="1" label="Client" scope-parent="true">
            <a href="work/<perch:content id="slug" />/#<perch:content id="parent.title" urlify="true"/>" class="c-project">
        </perch:related>
    <div class="c-project__image">
            <perch:if exists="image">
                <img src="<perch:content type="image" id="image" label="Image" width="1200" height="675"/>" alt="<perch:content id="title" type="text" label="Title" required="true" title="true" />" />
            <perch:else />
                <perch:if exists="vimeo">
                    <img src=" <perch:content type="vimeo" id="vimeo" output="thumb" label="Vimeo link" />" alt="<perch:content id="title" type="text" label="Title" required="true" title="true" />" />
                </perch:if>
        </perch:if>
    </div>
    
    <perch:template path="content/project_meta.html" />

<perch:related id="clients" collection="Clients" max="1" label="Client">
</a>
</perch:related>
</li>
<perch:after>
</ul>
</perch:after>
<perch:content id="vimeo" type="vimeo" label="Vimeo link"  suppress="true" />
<perch:content type="image" id="image" label="Image" width="600" height="375" suppress="true" />
<perch:categories id="service" label="Type of work" set="service" required="true" />
<perch:content id="featured" type="checkbox" label="Featured on homepage?" value="1" suppress="true"/>

