// align
.align-left,
%align-left {
  text-align: left;
}

.align-center,
%align-center {
  text-align: center;
}

.align-right,
%align-right {
  text-align: right;
}

.justify,
%justify {
  text-align: justify;
}

// spacing
.no-space,
%no-space {
  margin: 0;
  padding: 0;
}


// make text uppercase
.is-uppercase,
%is-uppercase {
  text-transform: uppercase;
}

// hide from browsers & screenreaders
.hide,
%hide {
  display: none;
  visibility: hidden;
}

// hide visually, but available for screenreaders
.visuallyhidden,
%visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}