.l-container {
    margin-bottom: space(m);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 space(m);
    &--narrow {
        max-width: 800px;
    }
}

.l-container--flex {
    display: flex;
    flex-direction: column;
    @include bp(m){
        flex-direction: row;
        .l-subnav {
            flex: 0 0 16em;

            padding-right: 1em;
            padding-left: 1em;
        }
        .l-main {
            flex: 1;
        }
    }
}
.l-grid {
    display: flex;
    margin: 0 0 space(m);
    @extend %list--unstyled;
    flex-wrap: wrap;
}

.l-grid--v-center {
    align-items: center;
}

.l-grid__item {
    flex: 0 0 100%;
    padding: space(m);
    @include bp(m){
        flex-basis: 50%;
        &:nth-child(odd){
            padding-left: 0;
        }
        &:nth-child(even){
            padding-right: 0;
        }
        @include bp(lg){
            &.l-grid__item--narrow{
                flex-basis: 33.333%;
                padding: space(m)!important;
            }
        }
    }
    @include bp(lg){
        .l-grid--filterable & {
            flex-basis: 33.333%;
        }
    }
}

.l-video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.l-video-container iframe,
.l-video-container > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}