@import 'variables';
@import 'functions';
@import 'mixins';
@import 'helpers';

.sg-palette {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.sg-palette__item {
    flex: 1 0 12em;
    border-radius: $border-radius--small;
    border: $border-width--thin solid color(neutral--light);
    padding: space(m);
    margin-right: space(m);
    margin-bottom: space(m);
}

.sg-palette__swatch {
    border-radius: $border-radius--small;
    width: 100%;
    height: 5em;
}

.sg-doc-space {
    margin-bottom: space(m);
}

.sg-block {
    max-width: 28.75rem;
}