<ul class="sg-palette">
    {{#each colors}}
    <li class="sg-palette__item">
        <div class="sg-palette__swatch  bg--{{ variable }}">&nbsp;</div>
        <p><code>{{ variable }}</code></p>
    </li>
    {{/each}}
<ul>